<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
{#      Start by loading static     #}
    {% load static %}
{#       Start of JS connection      #}
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" ></script>

{#      Start of CSS connection         #}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

</head>
<body>
<h1>Emobilis Coding School</h1>
<a href="{% url 'enda-nyumbani' %}"><button class="btn btn-danger">Home</button></a>
<a href="{% url 'enda-kuhusu' %}"><button class="btn btn-warning">About</button></a>
<a href="{% url 'enda-mapicha' %}"><button class="btn btn-primary">Gallery</button></a>
<a href=""><button class="btn btn-secondary">Register</button></a>
<a href=""><button class="btn btn-info">Login</button></a>


<hr>
<h3>Principal's Remarks:</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A atque consectetur dolore ea est et, maxime, mollitia natus nostrum optio pariatur .</p>

</body>
</html>